#ignore python cache files.
__pycache__
*.pyc
.ipynb_checkpoints

#ignore python virtual env
venv

#ignore node_modules
node_modules

*.log

#this file contains my info :S
test_connection.py

#ignore my editor settings
.vscode

#ignore the data collected
data